<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-private.xhtml">

	<ui:define name="content">

		<f:metadata>
			<f:viewAction action="#{accountDetailController.load}" />
		</f:metadata>

		<h:panelGroup id="globalPanelGroup">
		
			<ui:param name="account" value="#{accountDetailView.account.personalData}" />

			<div class="col-sm-2"></div>
			<div class="col-sm-8">

				<h2 id="account-data">#{i18n.accountData}</h2>
				
				<ui:include src="/private/account/account-personal-data.xhtml" />
				<ui:include src="/private/account/account-email.xhtml" />

			</div>
			<div class="col-sm-2"></div>

		</h:panelGroup>

	</ui:define>

</ui:composition>