<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" template="/templates/template-private.xhtml">

    <ui:define name="content">
        <div><p>PRIVATE SPACE</p></div>
    </ui:define>
</ui:composition>
