<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 id="my-publications">#{i18n.personnalData}</h3>
		</div>
		<div class="panel-body">

			<h:form styleClass="form-vertical">
				<div class="form-group">
					<label>#{i18n.firstName} : </label>
					<h:inputText id="firstName" value="#{account.firstName}" class="form-control" />
					<p:message for="firstName" class="detailErrorMessage" />
				</div>
				<div class="form-group">
					<label>#{i18n.lastName} : </label>
					<h:inputText id="lastName" value="#{account.lastName}" class="form-control" />
					<p:message for="lastName" class="detailErrorMessage" />
				</div>

				<p:commandButton styleClass="btn btn-primary" action="#{accountDetailController.updateMyPersonalData}" value="#{i18n.save}" update=":messages, :globalPanelGroup, :headerPanelGroup" />

			</h:form>
		</div>
	</div>

</ui:composition>
