<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 id="my-publications">#{i18n.changePassword}</h3>
		</div>
		<div class="panel-body">
			<h:form styleClass="form-vertical">
				<ui:param name="passwordForm" value="#{accountDetailView.accountPasswordForm}" />

				<div class="form-group">
					<p:outputLabel value="#{i18n.newPassword} : " />
					<p:password id="newPassword" value="#{passwordForm.newPassword}" match="newPasswordConfirm" styleClass="form-control" />
					<p:message for="newPassword" styleClass="detailErrorMessage" />
				</div>

				<div class="form-group">
					<p:outputLabel value="#{i18n.confirmNewPassword} : " />
					<p:password id="newPasswordConfirm" value="#{passwordForm.newPassword}" styleClass="form-control" />
					<p:message for="newPasswordConfirm" styleClass="detailErrorMessage" />
				</div>

				<p:commandButton styleClass="btn btn-primary" action="#{accountDetailController.updateMyPassword}" value="#{i18n.update}" update=":messages, :globalPanelGroup, :headerPanelGroup" />

			</h:form>
		</div>
	</div>

</ui:composition>