<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup id="logoPanelGroup">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>#{i18n.accountLogo}</h3>
			</div>
			<div class="panel-body">

				<a onclick="$('#logoForm\\:logo_input').trigger('click')">
					<h:graphicImage value="#{commonController.getRestUrl()}#{accountDetailView.account.relativeUrl}?time=#{commonController.timeMillis}" width="100" />
				</a>

				<h:form id="logoForm" styleClass="form-vertical not-visible" enctype="multipart/form-data">

					<p:fileUpload id="logo" fileUploadListener="#{accountDetailController.uploadMyAccountLogo}" mode="advanced" update="logoPanelGroup, messages, headerPanelGroup" auto="true" sizeLimit="10000000"
						allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
				</h:form>
			</div>
		</div>
	</h:panelGroup>

</ui:composition>
