<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 id="my-publications">#{i18n.changeLogin}</h3>
		</div>
		<div class="panel-body">

			<h:form styleClass="form-vertical">
				<div class="form-group">
					<p:outputLabel value="#{i18n.login} : " />
					<p:inputText id="email" value="#{accountDetailView.account.emailForm.email}" styleClass="form-control" />
					<p:message for="email" styleClass="detailErrorMessage" />
				</div>


				<p:commandButton styleClass="btn btn-primary" action="#{accountDetailController.updateMyMail}" value="#{i18n.update}" update=":messages, :globalPanelGroup, :headerPanelGroup" />
			</h:form>
		</div>
	</div>

</ui:composition>
