@font-face {
  font-family: 'Glyphicons Halflings';

  src: url("#{resource['/fonts/glyphicons-halflings-regular.eot']}");
  src: url("#{resource['/fonts/glyphicons-halflings-regular.eot']}?#iefix") format('embedded-opentype'),
  url("#{resource['/fonts/glyphicons-halflings-regular.woff']}") format('woff'),
  url("#{resource['/fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),
  url("#{resource['/fonts/glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular") format('svg');
}


body {
	padding-top: 70px;
	padding-bottom: 70px;
}

h2 {
	font-size:24px;
	color:#363636;
	margin-bottom:1em;
}

h3 {
    font-size: 20px;
    margin-bottom: 4px;
}

a:hover {
	text-decoration: none;
}

.navbar-default {
    background-color: #3b5998;
    color: white;
    height:70px;
    border:none;
}

.navbar-toggle {
	margin-top:18px;
	margin-bottom:18px;
}


.navbar-default .navbar-brand {
	font-size:24px;
	color: white;
	padding: 10px 10px;
}
.navbar-default .navbar-brand>img {
    display: inline;
    height:50px;
}

.navbar-profile {
	height:70px;
}


.navbar-default .navbar-brand {
    font-size:28px;
}

.navbar-default .navbar-brand:hover {
    color:white;
}

.navbar-nav>li>a {
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #83ADD8;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #83ADD8;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #83ADD8;
}


.dropdown-menu.main {
	min-width:250px;
	padding: 0px;
}


.panel.panel-popover {
	margin-bottom:0px;
	color:black;
}


.page {
	margin-top:20px;
	margin-bottom:20px;
}

.page .centered-content {
	text-align:center;
	margin-top:80px;
}



/*
* modals and panels
*/
.modal .modal-content {
	background-color: #3b5998;
	color:white;
}

.modal .modal-content .modal-body {
	background-color: white;
	color:black;
}

.modal .modal-header h3 {
	font-size:15px;
}


/*
* modals and panels
*/
.panel-default {
	background-color: #3b5998;
	color:white;
}

.panel-default>.panel-body {
	background-color: white;
	color:black;
}

.panel-default>.panel-heading {
	background-color:inherit;
	color:inherit;
}

.panel-default>.panel-heading>h3 {
	font-size:15px;
}


.footer {
	position:fixed;
	bottom:0;
	width:100%;
	background-color: #3b5998;
	color:white;
	z-index:1030;		
	height: 70px;
    margin-top: 20px;
    padding:15px;
}

.footer .small {
	font-size: 9px;
}

.footer a {
	color:white;
	text-decoration:none;
	font-style:italic;	
}

.footer a:hover {
	color:white;	
}


.not-visible {
	visibility:hidden;
	height:0px;
}


.row-eq-height {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
}



/**
* nav pills
*/
ul.nav.nav-pills {
	margin-top:8px;
}

.nav-pills>li>a {
    border-radius: 4px;
    border:1px solid #337ab7;
}


/**
* tables definitions
*/
.ui-datatable table {
    table-layout: auto;
    font-size:0.9em;
}

.ui-datatable thead th {
	background-color:#e3dff2;
	background-image:none;
}

.filter-panel {
	padding:12px;
	border:1px solid grey;
	border-radius: 6px;
	margin-bottom:12px;
}

.filter-panel h3 {
	margin-top:6px;
}

.results-panel {
	margin-bottom:12px;
}

.datatable-scroller {
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
}

.datatable-scroller .datatable-scroller-page-input {
	width:50px;
}

.drop-list {
	font-size:14px;
	display:none;
}


.datatable-row {
	color: #000000;
	background-color: #FFFFFF;

}

.datatable-row-light {
	color: #000000;
	background-color: #E8F5FC;
	max-height:50px;
}


pre {
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-family:inherit;
}

pre.truncated-text {
	max-width:300px;
	max-height: 50px;
	overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-inner {
	max-width:500px;
}

.tooltip-inner pre {
	white-space: pre-wrap;
	text-align: justify;
}

.actions-grid>tbody>tr>td {
	border:none;
	width:32px;
}


/**
* forms
*/

.form-control {
	margin-bottom:8px;	
}

.form-control.date-picker {
	padding:0px;	
}

.hasDatepicker, .date-picker>input[disabled]{
	display:inline-block;
	height: 32px;
	width:100%;
}

.date-picker>input[disabled]{
	background-color:rgb(238, 238, 238);
}

.ui-datepicker {   
	z-index: 10000 !important;   
}

.form-control.ui-autocomplete {
	padding:0px;	
}

.ui-autocomplete-input {
	width:100%;
	padding: 8px !important;
	height:32px;
	
}

.ui-autocomplete-panel {
	z-index:10000 !important;
}





/**
* commands
*/
.imageIcon {
	width: 19px;
	height: 19px;
	border: 0px;
}



/**
* faces messages
*/
.ui-growl {
	top: 70px !important;
	z-index:10000 !important;
}

.error-message {
	color:red;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
	border-width:1px;
	border-style:solid;
	border-color:red;
	background-color:#FFCCCC;
	width:100%;
}

.info-message {
	color:green;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
	border-width:1px;
	border-style:solid;
	border-color:green;
	background-color:palegreen;
	width:100%;
}

.detail-error-message {
	color: darkred;
}




