<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<ul class="nav navbar-nav navbar-right pull-right">
			<li><p:commandLink
					oncomplete="$('#connectionModal').modal('show')"
					update=":connectionPanelGroup" value="#{i18n.connection}" /></li>
		</ul>
	</h:form>



</ui:composition>