<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

	<h:form>
		<ul class="nav navbar-nav navbar-right pull-right">

			<li class="dropdown">
				<h:graphicImage value="#{commonController.getRestUrl()}#{indexView.account.relativeUrl}?time=#{commonController.timeMillis}"
					styleClass="navbar-profile" />
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<h:outputText value="#{indexView.account.firstName}	#{indexView.account.lastName}" />
					
				</a>

				<div class="dropdown-menu dropdown-menu-right main">

					<div class="panel panel-popover">

						<div class="panel-body">


							<ul class="list-unstyled">

								<li>
									<p:link value="#{i18n.facultyIdentity}" outcome="/private/faculty/account-faculty-identity" icon="menu-not-selected" />
								</li>
								<li>
									<p:link value="#{i18n.facultyIntellectualContributions}" outcome="/private/faculty/account-faculty-IC" icon="menu-not-selected" />
								</li>
								<li>
									<p:link value="#{i18n.facultyEducationalBackground}" outcome="/private/faculty/account-faculty-EB" icon="menu-not-selected" />
								</li>
								<li>
									<p:link value="#{i18n.facultyWorkExperience}" outcome="/private/faculty/account-faculty-WE" icon="menu-not-selected" />
								</li>
								<li>
									<p:link value="#{i18n.facultyIUMActivities}" outcome="/private/faculty/account-faculty-IUMA" icon="menu-not-selected" />
								</li>
								<li>
									<p:link value="#{i18n.facultyAdministrativeDuties}" outcome="/private/faculty/account-faculty-AD" icon="menu-not-selected" />
								</li>								<li>
									<p:link value="#{i18n.accountParameters}" outcome="/private/account/account-detail" icon="menu-not-selected" />
								</li>

								<li class="divider"></li>
								<li>
									<p:commandLink value="#{i18n.logout}" action="#{authenticationController.logout}" ajax="true" />
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>


	</h:form>

</ui:composition>