<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>${i18n.applicationName}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<meta http-equiv="content-language" content="fr"/>

	<meta name="description" content="${i18n.description}" />

	<meta name="title" content="${i18n.title}" />

	<meta name="keywords" content="${i18n.keywords}" />

	<h:outputScript library="primefaces" name="jquery/jquery.js" />

	<h:outputScript library="js" name="bootstrap.min.js" />

	<h:outputStylesheet library="css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="styles.css" />

</h:head>

<h:body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" title="#{i18n.title}"
					href="#{application.contextPath}/private/index.xhtml">
					<h:graphicImage
						alt="#{i18n.title}" value="/resources/images/header/logo.png"
						height="50"/>
					#{i18n.applicationName}
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-menu">
				<ui:include src="/templates/header-error.xhtml" />
			</div>
		</div>
	</nav>
	
	<p:growl id="messages" sticky="false" life="4000" globalOnly="true" />

	<div class="container">		

		<ui:insert name="content" />

	</div>

</h:body>
</html>