<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>#{i18n.applicationName}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta http-equiv="content-language" content="fr" />

	<meta name="description" content="${i18n.description}" />

	<meta name="title" content="${i18n.title}" />

	<meta name="keywords" content="${i18n.keywords}" />

	<h:outputScript library="primefaces" name="jquery/jquery.js" />

	<h:outputScript library="js" name="bootstrap.min.js" />

	<h:outputStylesheet library="css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="styles.css" />

</h:head>

<h:body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<h:graphicImage title="#{i18n.title}" alt="#{i18n.title}" value="/resources/images/header/logo.png" height="50" />
					#{i18n.applicationName}
			</div>
			<div class="collapse navbar-collapse" id="navbar-menu">
				<ui:include src="/templates/header-public.xhtml" />
			</div>
		</div>
	</nav>

	<p:growl id="messages" sticky="false" life="4000" globalOnly="true" />

	<div class="container">

		<ui:insert name="content" />

	</div>


	<div class="modal modal-default" id="registerModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">

				<h:panelGroup id="registerPanelGroup">

					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">X</span>
						</button>

						<h3>#{i18n.register}</h3>

					</div>

					<div class="modal-body">

						<h:form class="form-vertical">

							<ui:param name="form" value="#{accountCreationView.accountCreationForm}" />

							<ui:param name="account" value="#{form.personalData}" />

							<div class="form-group">
								<p:inputText id="firstName" value="#{account.firstName}" styleClass="form-control"
									placeholder="#{i18n.firstName}" />
								<p:message for="firstName" />
							</div>

							<div class="form-group">
								<p:inputText id="lastName" value="#{account.lastName}" styleClass="form-control" placeholder="#{i18n.lastName}" />
								<p:message for="lastName" />
							</div>

							<div class="form-group">
								<p:inputText id="email" value="#{form.email}" styleClass="form-control" placeholder="#{i18n.login}" />
								<p:message for="email" />
							</div>

							<div class="form-group">
								<p:password id="password" value="#{form.password}" styleClass="form-control" placeholder="#{i18n.password}" />
								<p:message for="password" />
							</div>

							<p:commandButton styleClass="btn btn-success" action="#{accountCreationController.createAccount}"
								update=":registerPanelGroup, :messages" value="#{i18n.save}">

							</p:commandButton>

						</h:form>

						<h:form class="form-vertical">
							<p:commandLink oncomplete="$('#registerModal').modal('hide');$('#connectionModal').modal('show')"
								value="#{i18n.alreadyRegistered}" />
						</h:form>
					</div>
				</h:panelGroup>
			</div>
		</div>
	</div>


	<div class="modal modal-default" id="connectionModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<h:panelGroup id="connectionPanelGroup">

					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">X</span>
						</button>

						<h3>#{i18n.connection}</h3>

					</div>

					<div class="modal-body">

						<h:form class="form-vertical">

							<div class="form-group">
								<p:inputText id="login" value="#{authenticationView.loginForm.login}" placeholder="#{i18n.login}"
									styleClass="form-control">
								</p:inputText>
							</div>

							<div class="form-group">
								<p:password id="password" value="#{authenticationView.loginForm.password}" placeholder="#{i18n.password}"
									styleClass="form-control">
								</p:password>
							</div>

							<p:commandButton value="#{i18n.connection}" action="#{authenticationController.authenticate}"
								styleClass="btn btn-success" ajax="true" update=":messages">
							</p:commandButton>

						</h:form>

						<h:form class="form-vertical">
							<p:commandLink oncomplete="$('#connectionModal').modal('hide');$('#forgotPasswordModal').modal('show')"
								value="#{i18n.forgotPassword}" />
						</h:form>
					</div>
				</h:panelGroup>
			</div>
		</div>
	</div>


	<div class="modal modal-alpha" id="forgotPasswordModal" tabindex="-1" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" onclick="$('#indexMainModal').show();">
						<span aria-hidden="true">X</span>
					</button>
					<h4 class="modal-title">#{i18n.forgotPassword}</h4>
				</div>
				<div class="modal-body">

					<h:form id="forgot-password-form" class="form-vertical">

						<div class="form-group">
							<p:inputText id="login" placeholder="#{i18n.login}" value="#{forgotPasswordView.emailForm.email}"
								styleClass="form-control" />
							<p:message for="login" />
						</div>

						<p:commandButton styleClass="btn btn-primary" value="#{i18n.resetPassword}"
							action="#{forgotPasswordController.sendResetPassword}" ajax="true" update="forgot-password-form, :messages"
							oncomplete="if(!args.validationFailed &amp;&amp; args.maximumSeverity.ordinal==0) $('#forgotPasswordModal').modal('hide');">
						</p:commandButton>

					</h:form>
				</div>
			</div>
		</div>
	</div>

</h:body>
</html>