<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">


<h:head>
	<title>#{i18n.applicationName}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="fr" />
	<meta name="description" content="${i18n.description}" />
	<meta name="title" content="${i18n.title}" />
	
	<link rel="stylesheet" type="text/css" href="#{application.contextPath}/resources/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="#{application.contextPath}/resources/css/styles.css" />

</h:head>


<h:body>

	<script>
		window.onblur = function() {
			window.onfocus = function() {
				checkSecurityContext()
			}
		};
	</script>

	<h:form>
		<p:remoteCommand name="checkSecurityContext" action="#{securityController.checkContextChange()}" />

		<h:inputHidden value="#{indexView.token}" />
	</h:form>


	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
					<h:graphicImage alt="#{i18n.title}" value="/resources/images/header/logo.png" height="50" />
					#{i18n.applicationName}
			</div>
			<div class="nav" id="navbar-menu">
				<h:panelGroup id="headerPanelGroup">
					<ui:include src="/templates/header-private.xhtml" />
				</h:panelGroup>
			</div>
		</div>
	</nav>

	<p:growl id="messages" sticky="false" life="4000" globalOnly="true" />

	<div class="container">

		<ui:insert name="content" />

	</div>



	<div class="modal modal-default" id="organizationModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">x</span>
					</button>
					<h3 class="modal-title">#{i18n.filloutCV}</h3>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">

								<h:panelGroup id="organizationPanelGroup">

									<ui:param name="view" value="#{organizationCreationView}" />

									<ui:param name="organization" value="#{organizationCreationView.organizationForm}" />

									<h:form class="form-vertical" id="organization-form">
										<div class="form-group">
											<p:outputLabel value="#{i18n.organizationName} : " />
											<p:inputText id="organizationName" styleClass="form-control" value="#{organization.name}" />
											<p:message for="organizationName" />
										</div>
										<div class="form-group">
											<p:outputLabel value="#{i18n.organizationDescription} : " />
											<p:inputTextarea id="organizationDescription" rows="3" styleClass="form-control" autoResize="true"
												value="#{organization.description}" />
											<p:message for="organizationDescription" />
										</div>

										<p:commandButton styleClass="btn btn-primary" action="#{organizationCreationController.createOrganization}"
											value="#{i18n.save}" ajax="true" update=":organizationPanelGroup, :messages" />
									</h:form>

								</h:panelGroup>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</h:body>

<h:outputScript library="primefaces" name="jquery/jquery.js" />
<h:outputScript library="js" name="bootstrap.min.js" />

</html>
