<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>#{i18n.organizationIdentification}</h3>
		</div>

		<div class="panel-body">

			<div class="row">
				<div class="col-sm-12">

					<h:form styleClass="form-vertical" id="organizationCodeForm">

						<div class="form-group">
							<p:outputLabel value="#{i18n.organizationCode} : " />

							<div class="input-group">
								<p:inputText id="organizationCode" styleClass="form-control"
									value="#{organizationView.organizationCodeForm.code}"
									disabled="#{!view.codeEditable}">
									<p:ajax event="keyup" update="organizationCodeSaveButton"
										listener="#{organizationDetailController.checkCodeAlreadyExists}" />
								</p:inputText>

								<span class="input-group-btn"> <p:commandButton
										id="organizationCodeEditButton" styleClass="btn btn-info"
										rendered="#{!view.codeEditable}"
										action="#{view.setCodeEditable(true)}"
										update="organizationCodeForm" value="#{i18n.edit}" /> <p:commandButton
										id="organizationCodeSaveButton"
										styleClass="btn #{view.codeAlreadyExists?'btn-danger':'btn-primary'}"
										action="#{organizationDetailController.updateOrganizationCode}"
										value="#{i18n.save}" update="organizationCodeForm,:messages"
										rendered="#{view.codeEditable}"
										disabled="#{view.codeAlreadyExists}" />
								</span>
							</div>

							<p:message for="organizationCode" />
						</div>

					</h:form>

					<h:form styleClass="form-vertical" id="form">
						<div class="form-group">
							<p:outputLabel value="#{i18n.organizationName} : " />
							<p:inputText id="organizationName" styleClass="form-control"
								value="#{organization.name}" />
							<p:message for="organizationName" />
						</div>

						<div class="form-group">
							<p:outputLabel value="#{i18n.organizationDescription} : " />
							<p:inputTextarea id="organizationDescription" rows="3"
								styleClass="form-control" autoResize="true"
								value="#{organization.description}" />
							<p:message for="organizationDescription" />
						</div>

						<p:commandButton styleClass="btn btn-primary"
							action="#{organizationDetailController.updateOrganization}"
							value="#{i18n.save}" update=":globalPanelGroup, :messages">
						</p:commandButton>

					</h:form>

				</div>
			</div>
		</div>
	</div>

</ui:composition>