<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup id="structure">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>#{i18n.organizationMembers}</h3>

			</div>

			<div class="panel-body">
				<ui:repeat var="member" value="#{organizationDetailView.members}">
					<div class="media">
						<div class="pull-left">
							<p:graphicImage
								value="#{commonController.getRestUrl()}#{member.account.relativeUrl}"
								width="64" />
						</div>
						<div class="media-body">
							<p>#{member.account.firstName} #{member.account.lastName}</p>
							<p>#{i18n.organizationRole} : #{member.role}</p>
							<p>#{i18n.organizationPosition} : #{member.position}</p>
							<p:commandLink value="#{i18n.modifyRole}"
								oncomplete="$('#updateDialogModal').modal('show')" ajax="true"
								update=":updateDialogPanelGroup">
								<f:setPropertyActionListener
									target="#{organizationDetailView.targetMember}"
									value="#{member.account}" />
								<f:setPropertyActionListener
									target="#{organizationDetailView.targetMemberForm}"
									value="#{member.memberForm}" />
							</p:commandLink>

							<h:outputText value=" | " />

							<p:commandLink value="#{i18n.dropMember}"
								oncomplete="$('#confirmDropDialogModal').modal('show')"
								ajax="true" update=":confirmDropDialogPanelGroup">
								<f:setPropertyActionListener
									target="#{organizationDetailView.targetMember}"
									value="#{member.account}" />
							</p:commandLink>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>#{i18n.organizationGuests}</h3>
			</div>

			<div class="panel-body">
				<h:form>
					<ui:repeat var="member"
						value="#{organizationDetailView.guests}">
						<div class="media">
							<div class="pull-left">
								<p:graphicImage
									value="#{commonController.getRestUrl()}#{member.account.relativeUrl}"
									width="64" />
							</div>
							<div class="media-body">
								<p>#{member.account.firstName} #{member.account.lastName}</p>

								<p:commandLink value="#{i18n.cancelInviteContact}"
									action="#{organizationDetailController.cancelInviteContact(member.account.id)}"
									ajax="true" update=":messages, :structure">

								</p:commandLink>

							</div>

						</div>
					</ui:repeat>

					<p:commandButton styleClass="btn btn-primary"
						action="#{organizationDetailController.prepareInviteContact}"
						value="#{i18n.inviteContact}" update=":inviteContactPanelGroup"
						oncomplete="$('#inviteContactModal').modal('show')" />

				</h:form>


			</div>
		</div>

	</h:panelGroup>






	<div class="modal modal-default" id="updateDialogModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">x</span>
					</button>
					<h3 class="modal-title">#{i18n.modifyRole}</h3>
				</div>
				<div class="modal-body">

					<h:panelGroup id="updateDialogPanelGroup">

						<h:form class="form-vertical">

							<div class="form-group">

								<p:outputLabel value="#{i18n.organizationRole}" />

								<h:selectOneMenu styleClass="form-control"
									value="#{organizationDetailView.targetMemberForm.role}">
									<f:selectItems value="#{organizationDetailView.roles}" />
								</h:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel value="#{i18n.organizationPosition}" />

								<p:inputText styleClass="form-control"
									value="#{organizationDetailView.targetMemberForm.position}" />

							</div>

							<p:commandButton styleClass="btn btn-primary"
								value="#{i18n.confirm}"
								oncomplete="$('#updateDialogModal').modal('hide')"
								action="#{organizationDetailController.updateMember()}"
								ajax="true" update=":messages, :structure" />

							<p:commandButton styleClass="btn btn-primary"
								value="#{i18n.cancel}" type="button"
								onclick="$('#updateDialogModal').modal('hide')" />


						</h:form>
					</h:panelGroup>
				</div>
			</div>
		</div>
	</div>



	<div class="modal modal-default" id="confirmDropDialogModal"
		tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">x</span>
					</button>
					<h3 class="modal-title">#{i18n.confirmDropMember}</h3>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<div class="submit">

									<h:panelGroup id="confirmDropDialogPanelGroup">
										<h:form>
											<p:commandButton styleClass="btn btn-warning"
												value="#{i18n.confirm}"
												oncomplete="$('#confirmDropDialogModal').modal('hide')"
												action="#{organizationDetailController.removeMember()}"
												ajax="true" update=":messages, :structure" />

											<p:commandButton styleClass="btn btn-primary"
												value="#{i18n.cancel}" type="button"
												onclick="$('#confirmDropDialogModal').modal('hide')" />
										</h:form>
									</h:panelGroup>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal modal-default" id="inviteContactModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">x</span>
					</button>
					<h3 class="modal-title">#{i18n.inviteContact}</h3>
				</div>
				<div class="modal-body">

					<h:panelGroup id="inviteContactPanelGroup">
						<h:form class="form-vertical">
							<div class="form-group">
								<p:outputLabel value="#{i18n.email}" />

								<p:inputText id="invitedMail" styleClass="form-control"
									value="#{organizationDetailView.inviteMemberForm.mailForm.email}" />

								<p:message for="invitedMail" />
							</div>
							<div class="form-group">

								<p:outputLabel value="#{i18n.organizationRole}" />

								<h:selectOneMenu styleClass="form-control"
									value="#{organizationDetailView.inviteMemberForm.memberForm.role}">
									<f:selectItems value="#{organizationDetailView.roles}" />
								</h:selectOneMenu>
							</div>

							<div class="form-group">
								<p:outputLabel value="#{i18n.organizationPosition}" />

								<p:inputText styleClass="form-control"
									value="#{organizationDetailView.inviteMemberForm.memberForm.position}" />
							</div>


							<p:commandButton styleClass="btn btn-primary"
								value="#{i18n.confirm}"
								oncomplete="if(!args.validationFailed &amp;&amp; args.maximumSeverity.ordinal==0) $('#inviteContactModal').modal('hide')"
								action="#{organizationDetailController.inviteContact}"
								update=":messages, :inviteContactPanelGroup, :structure" />

							<p:commandButton styleClass="btn btn-primary"
								value="#{i18n.cancel}" type="button"
								onclick="$('#inviteContactModal').modal('hide')" />
						</h:form>
					</h:panelGroup>

				</div>
			</div>
		</div>
	</div>




</ui:composition>