<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-private.xhtml">

	<ui:define name="content">
	
		<f:metadata>
			<f:viewParam name="id" value="#{organizationDetailView.organizationFullView.id}" />
			<f:viewAction action="#{organizationDetailController.load}" />
		</f:metadata>

		<h:panelGroup id="globalPanelGroup">

			<ui:param name="view" value="#{organizationDetailView}" />

			<ui:param name="organizationView"
				value="#{view.organizationFullView}" />

			<ui:param name="organization"
				value="#{organizationView.organizationForm}" />

			<div class="col-sm-2"></div>
			<div class="col-sm-8">

				<h2 id="organization-data">#{i18n.organizationData}</h2>

				<ui:include src="/private/organization/organization-logo.xhtml" />
				<ui:include src="/private/organization/organization-data.xhtml" />

				<h2 id="organization-structure">#{i18n.organizationStructure}</h2>

				<ui:include src="/private/organization/organization-structure.xhtml" />

			</div>
			<div class="col-sm-2"></div>

		</h:panelGroup>

	</ui:define>

</ui:composition>