<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f = "http://java.sun.com/jsf/core"
xmlns:h = "http://java.sun.com/jsf/html"
template="/templates/template-error.xhtml">

	<ui:define name="content">
	
	
	<h2>#{i18n.NotFoundErrorContent}</h2>

		
	</ui:define>

</ui:composition>