<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/templates/template-private.xhtml">

	<ui:define name="content">

		<div class="row">

			<div class="col-sm-12">

				<h2>#{i18n.resetPassword}</h2>

				<h:panelGroup id="resetPasswordPanelGroup">

					<ui:param name="resetPasswordForm"
						value="#{resetPasswordController.resetPasswordView.resetPasswordForm}" />


					<h:form id="reset-password-form">

						<h:inputHidden value="#{resetPasswordForm.token}" />

						<div class="form-group">
							<p:outputLabel value="#{i18n.password} : " />
							<p:password id="newPassword"
								value="#{resetPasswordForm.newPassword}"
								match="newPasswordConfirm" styleClass="form-control" />
							<p:message for="newPassword" styleClass="detailErrorMessage" />
						</div>

						<div class="form-group">
							<p:outputLabel value="#{i18n.confirmNewPassword} : " />
							<p:password id="newPasswordConfirm"
								value="#{resetPasswordForm.newPassword}"
								styleClass="form-control" />
							<p:message for="newPasswordConfirm"
								styleClass="detailErrorMessage" />
						</div>


						<p:commandButton styleClass="btn btn-primary"
							action="#{resetPasswordController.resetPassword}"
							value="#{i18n.resetPassword}" ajax="true"
							process=":reset-password-form"
							update=":resetPasswordPanelGroup, :messages" />


					</h:form>
				</h:panelGroup>
			</div>
		</div>
	</ui:define>
</ui:composition>