<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/templates/template-public.xhtml">

	<ui:define name="content">

		<c:set var="emailValidationController"
			value="#{emailValidationController}" scope="request" />

		<h:panelGroup rendered="#{emailValidationView.validationSuccessfull}">
			<h2>#{i18n.emailValidationSuccess}</h2>
		</h:panelGroup>

		<h:panelGroup rendered="#{emailValidationView.emailAlreadyValidated}">
			<h2 style="color:orange">#{i18n.emailAlreadyValidated}</h2>
		</h:panelGroup>

		<h:panelGroup rendered="#{emailValidationView.emailExpired}">
			<h2 style="color:red">#{i18n.emailExpired}</h2>
		</h:panelGroup>

		<h:panelGroup rendered="#{emailValidationView.emailInvalid}">
			<h2 style="color:red">#{i18n.emailInvalid}</h2>
		</h:panelGroup>


	</ui:define>

</ui:composition>